<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krazynutz.ipl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.krazynutz.ipl.activites.DashBoard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activites.MatchesList"
            android:label="Match Schedule List"
            android:parentActivityName=".activites.DashBoard">
        </activity>

        <activity android:name=".activites.Stadium_List"
            android:label="List of Stadiums"
            android:parentActivityName=".activites.DashBoard"/>
    </application>

</manifest>