<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krazynutz.iplt20info">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.SplashScrn_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_48" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="70589481084e4e7b26af199becd61de0cf1812f5" />

        <receiver android:name="com.shephertz.app42.paas.sdk.android.App42BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.shephertz.app42.paas.sdk.android.AlarmReceiver" />

        <service android:name="com.shephertz.app42.paas.sdk.android.App42DataSyncService" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".activites.New_Dash"
            android:label="@string/app_name1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.TeamsActivity"
            android:label="Teams &amp; Matches"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.MatchesList"
            android:label="Match Schedule List"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Stadium_List"
            android:label="List of Stadiums"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.PlayersActivity"
            android:label="Team Players"
            android:parentActivityName=".activites.TeamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.TeamMatches"
            android:label="Team Matches"
            android:parentActivityName=".activites.TeamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.PointsTable"
            android:label="Points Table"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Stats_Activity"
            android:label="Statistics"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Results_Activity"
            android:label="Match Results"
            android:parentActivityName=".activites.New_Dash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SummaryActivity"
            android:label="Match Summary"
            android:parentActivityName=".activites.Results_Activity"
            android:screenOrientation="portrait" />

    </application>

</manifest>